[core]
	excludesfile = /Users/jrwren/.gitignore_global
[user]
	name = Jay R. Wren
	email = jrwren@xmtp.net
[color]
	ui = auto
[alias]
    st = status
    lp = log -p
    edit-last-commit = !mvim `git diff-tree -r --name-only HEAD HEAD~1`
[merge]
	tool = kdiff3
[push]
	default = current
