[core]
	excludesfile = /Users/jrwren/.gitignore_global
[user]
	name = Jay R. Wren
	email = jrwren@xmtp.net
[color]
	ui = auto
[alias]
    st = status
    lp = log -p
    edit-last-commit = !mvim `git diff-tree -r --name-only HEAD HEAD~1`
[merge]
	tool = kdiff3
[push]
	default = current
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "ssh://evarlast@git.launchpad.net/"]
    insteadOf = lp:
